{
  "extends": [
    "plugin:vue/recommended",
    "plugin:vue-scoped-css/recommended"
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "env": {
    "browser": true,
    "jquery": false,
    "node": true
  },
  "globals": {
    "Vue": true
  }
}
